@model Entity.ViewModal.UserContactModel

<div class="row">
    <div class="col-md-4">
        <label for="Phone">Phone:</label>
        <input type="text" id="Phone" autocomplete="off" placeholder="Enter Phone" name="UserContactModel.Phone" class="form-control" value="@Model.Phone" />
    </div>
    <div class="col-md-4">
        <label for="EmergencyContact">Emergency Contact:</label>
        <input type="text" id="EmergencyContact" autocomplete="off" placeholder="Enter Emergency Contact" name="UserContactModel.EmergencyContact" class="form-control" value="@Model.EmergencyContact" />
    </div>
</div>
